.hp__intro {
  text-align: center;
  font-weight: 700;
  font-family: Righteous, "Roboto Slab", "Times New Roman", serif;
}

.hp__title {
  padding-left: 1rem;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  position: relative;
}

.hp__title::before {
  content: "\21e8";
  position: absolute;
  left: 0;
}

.hp__skilllist li {
  list-style: none;
}

.hp__skillitem p:first-of-type {
  padding-top: 1rem;
  border-top: 3px double var(--base-color);
}

.hp__skillitem p:last-of-type {
  margin-bottom: 1rem;
}

@media screen and (min-width: 700px) {
  .hp__intro {
    font-size: 2rem;
  }
}
